@font-face {
    font-family: 'tenor';
    src: url('../fonts/tenorsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/tenorsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'figtree';
    src: url('../fonts/figtree-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/figtree-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.hero-body figure.image img {
    height: auto;
}
.section.section-secondary {
    background-color: #3bb18c;
}

.navbar.is-fresh .navbar-item.is-secondary:hover{
    color: #3bb18c !important;
}
.navbar.is-fresh .navbar-item.has-dropdown:hover .navbar-link {
    color: #3bb18c !important;
}
.navbar.is-fresh .navbar-item.has-dropdown:hover .navbar-link:after {
    border-color: #3bb18c !important;
}

.navbar.is-fresh .navbar-item.has-dropdown .navbar-dropdown {
    border-top-color: #3bb18c !important;
}

.divider{
    background: #3bb18c;
}
footer.footer-dark .footer-column .level-item .icon{
    color: #3bb18c;
}

.hero-body .title, .hero-body .subtitle {
    color: #3bb18c;
}
.navbar.is-fresh .navbar-brand img{
    max-height: none !important;
    height: auto;
}

.navbar-start{
    display: none;
}

.hero-body .title, .hero-body .subtitle {
    font-family: tenor;
}
.title-wrapper .title, .title-wrapper .subtitle{
    font-family: tenor;
}

footer.footer-dark .footer-column .footer-header h3{
    font-family: tenor;
}
.section .title, .section .subtitle{
    font-family: tenor;
    color: #3bb18c;
}
.section .title.najam , .section .subtitle.najam{
    color: #363636;
}

.content.page-content img{
    border: 2px solid #3bb18c;
    border: 2px solid #3bb18c;
    /* -webkit-box-shadow: 5px 5px 14px -2px #3BB18C; 
box-shadow: 5px 5px 14px -2px #3BB18C; */
/* -webkit-box-shadow: 2px 5px 14px -2px #133A2D; 
box-shadow: 2px 5px 14px -2px #133A2D; */

-webkit-box-shadow: 2px 5px 14px -2px #071611; 
box-shadow: 2px 1px 14px -2px #071611;
}


.feature-card {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    margin: 0 auto;
    padding: 2.5rem;
}

.feature-card.is-pricing {
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    box-shadow: -1px 3px 15px #0000000f;
    margin: 8px;
    padding: 20px;
    height: auto;
    /* height: 420px; */
}
.feature-card.is-pricing p{
    font-size: 20px;
    height: 250px;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6{
    font-family: tenor;
    color: #3bb18c;
}

.button.secondary-btn{
    border-color: #3bb18c;
    background-color: #3bb18c;
}
.button.secondary-btn.raised:hover {
    box-shadow: 0 14px 26px -12px rgb(106 193 163), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(243, 146, 0, 0.2) !important;
    opacity: 0.8;
}

.post-item{
    display: flex;
    justify-content: space-between;
}
.post-item h3 a {
    font-size: 1.2rem;
    font-weight: 600;
    color: #444F60;
    border-bottom: 1px dotted #F39200;
}

.post-item h3 a:hover {
    border-bottom: none;
}

.menu-icon-wrapper{
    display: none;
}

article.story{
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: 50px;
    padding-bottom:20px;
}

article.story:last-child{
    border-bottom: none;
}

article.story .meta{
    display:flex;
    align-items: center;
}

article.story .meta img{
    border: 2px solid #999;
}

article.story .meta .author{
    margin-left: 10px;
}

article.story .meta .author p{
    font-style: italic;
    margin-bottom: 0px;
}
article.story .meta .author p:first-child{
    font-style:normal;
    font-weight: bold;
    color:#3bb18c;
}

section.copy{
    margin-bottom: 50px;
    padding-bottom:40px;
    /* border-bottom: 2px solid #3bb18c; */
}

.content figure blockquote{
    border-left: none;
    text-align: left;
    background-color: #3bb18c;
    color:#fff;
    font-size: 1rem;
}

.testimonial .author{
height: auto;
padding: 0 10px;
}

.testimonial .author h5, .testimonial .author span {
    left: auto;
    position: relative;
    color: #444F60;
    padding:0;
}

/* Home page testimonial */
/* ============================ */

.testimonial .author span{
    line-height: 16px;
    font-size: 13px;
    display: inline-block;
}

.testimonial .author h5{
    line-height: 1rem;
    margin-bottom: 5px;
}
.testimonial blockquote{
    font-size: 1rem;
}
.testimonial img{
    position: relative;
    right:0;
    margin-bottom: 5px;
}

.none{
    display: none;
}