@font-face {
    font-family: 'tenor';
    src: url('../fonts/tenorsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/tenorsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'figtree';
    src: url('../fonts/figtree-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/figtree-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: figtree;
}

.hero-body figure.image img {
    height: auto;
        /* border: 2px solid #3bb18c; */
        /* border: 2px solid #3bb18c; */
    border: 2px solid #3bb18c;
    -webkit-box-shadow: 2px 5px 14px -2px #071611;
    box-shadow: 2px 1px 14px -2px #071611;
}
.section.section-secondary {
    background-color: #3bb18c;
}

.navbar.is-fresh .navbar-item {
    color:#303b58;
}
.navbar.is-fresh .navbar-item.has-dropdown .navbar-link{
    color:#303b58;
}
.navbar.is-fresh .navbar-item.has-dropdown .navbar-link:after {
    color:#303b58;
}

.navbar.is-fresh .navbar-item.has-dropdown .navbar-dropdown .navbar-item {
    padding: 10px 20px;
}
.navbar.is-transparent .navbar-dropdown a.navbar-item:focus, .navbar.is-transparent .navbar-dropdown a.navbar-item:hover{

    color: #3bb18c !important;
}

.navbar.is-fresh .navbar-item.is-secondary:hover{
    color: #3bb18c !important;
}
.navbar.is-fresh .navbar-item.has-dropdown:hover .navbar-link {
    color: #3bb18c !important;
}
.navbar.is-fresh .navbar-item.has-dropdown:hover .navbar-link:after {
    border-color: #3bb18c !important;
}

.navbar.is-fresh .navbar-item.has-dropdown .navbar-dropdown {
    border-top-color: #3bb18c !important;
}

.divider{
    background: #3bb18c;
}

footer.footer-dark .footer-column .level-item .icon{
    color: #3bb18c;
}

.hero-body .title, .hero-body .subtitle {
    color: #303b58;
}

.button.primary-btn{
    border-color: #303b58;
    background-color: #303b58;
}
.button.primary-btn.raised:hover {
    box-shadow: 0 14px 26px -12px #339fc76b, 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(79, 193, 234, 0.2) !important;
    opacity: 0.8;
}
.navbar.is-fresh .navbar-brand img{
    max-height: none !important;
    height: auto;
}

.navbar-start{
    display: none;
}

.hero-body .title, .hero-body .subtitle {
    font-family: tenor;
}
.title-wrapper .title, .title-wrapper .subtitle{
    font-family: tenor;
}

footer.footer-dark .footer-column .footer-header h3{
    font-family: tenor;
}
.section .title, .section .subtitle{
    font-family: tenor;
    color: #303b58;
}
.section .title.najam , .section .subtitle.najam{
    color: #363636;
}

.content.page-content img{
    border: 2px solid #3bb18c;
    -webkit-box-shadow: 2px 5px 14px -2px #071611; 
    box-shadow: 2px 1px 14px -2px #071611;
}

.content.page-content img.is-primary{
    border: 2px solid #303b58;
    -webkit-box-shadow: 2px 5px 14px -2px #071611; 
    box-shadow: 2px 1px 14px -2px #071611;
}

section.copy p.checked {
  background:  url("../images/karen/home/checkmark_green.png") 0px 0px / 28px 20px no-repeat;
  padding-left:35px;
  line-height:20px;
  margin-bottom:10px;
  /* padding-bottom:10px; */
}

section .unlock-list {}
section .unlock-list div.column {
  /* background: #303b58 url("../images/karen/home/checkmark_green.png") 1% 50% / 30px 25px no-repeat; */
  display:flex;

}
section .unlock-list p{
  background: #303b58 url("../images/karen/home/checkmark_green.png") 2% 50% / 30px 25px no-repeat;
  padding-left:50px;
  padding-right:20px;
  color:#fff;
  padding-top:10px;
  padding-bottom:10px;
  line-height:1.2rem;
}

section.about.checked-list{
  /* padding-left:10px; */
}

section.about.checked-list p{
  background: #303b58 url("../images/karen/home/checkmark_green.png") 1% 50% / 30px 25px no-repeat;
  /* background-color:#303b58; */
  color:#fff;
  margin:0;
  /* border-bottom:1px solid #000; */
  padding: 15px 20px;
  font-size:1.3rem;
  line-height:1rem;
  padding-left:50px;
}

article.media.icon-box p.image{
  max-width:180px;
  height:180px;
}

.feature-card {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    margin: 0 auto;
    padding: 2.5rem;
}

.feature-card.is-package {
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    box-shadow: -1px 3px 15px #0000000f;
    margin: 8px;
    padding: 20px;
    height: auto;

}
.feature-card.is-package p {
    font-size: 20px;
    font-weight: bold;
}

.feature-card.is-package p:last-child {
    font-size: 16px;
    font-weight: normal;
}

.feature-card.is-pricing {
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    box-shadow: -1px 3px 15px #0000000f;
    margin: 8px;
    padding: 20px;
    height: auto;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    /* height: 420px; */
}

.feature-card.is-pricing .info{
  margin-bottom:40px;
}

.feature-card.is-pricing img {
  border:none;
  max-width:300px;
  height:200px;
  box-shadow:none;
  margin-bottom:30px;
}
.feature-card.is-pricing p{
    font-size: 14px;
    text-align:left;
    /* height: 200px; */
}
.feature-card.is-pricing p.important{
  font-weight:bold;
}
.feature-card.is-pricing p.important:first-letter{
  font-size: 18px;
  color:#303b58;
}

.feature-card.is-pricing .primary-btn{
    /* background-color: #3bb18c;
    border-color: #30d5a1; */
    cursor: pointer;
}

.card.card-lists{
    background-color: #303b58;
    box-shadow:  -1px 3px 15px #0000000f;
    color:#fff;
    /* box-shadow: 2px 1px 14px -2px #071611; */
}
.card-lists .card-lists-title{
    color:#3bb18c;
}
.card.card-lists ul{
    font-size: 20px;
    line-height:20px;
}
.card.card-lists ul li{
  margin-bottom:15px;
}

.featured-quote blockquote{
    background-color: #303b58;
    color:#fff;
}

.featured-quote blockquote strong{
    color:#fff;
}
.featured-quote.is-secondary blockquote{
    background-color: #3bb18c;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6{
    font-family: tenor;
    color: #303b58;
}
.content h1.is-secondary, .content h2.is-secondary, .content h3.is-secondary, .content h4.is-secondary, .content h5.is-secondary, .content h6.is-secondary {
    font-family: tenor;
    color: #3bb18c;
}

.button.rounded.primary-btn{
    border-color: #3bb18c;
    background-color: #3bb18c;
}
.button.rounded.primary-btn.raised:hover {
    box-shadow: 0 14px 26px -12px rgb(106 193 163), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(243, 146, 0, 0.2) !important;
    opacity: 0.8;
}

.button.rounded.secondary-btn{
    border-color: #303b58;
    background-color: #303b58;
}
.button.rounded.secondary-btn.raised:hover {
  box-shadow: 0 14px 26px -12px rgb(96 104 125), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(243, 146, 0, 0.2) !important;
    opacity: 0.8;
}

.section.about{margin-bottom: 50px;}

.post-item{
    display: flex;
    justify-content: space-between;
}
.post-item h3 a {
    font-size: 1.2rem;
    font-weight: 600;
    color: #444F60;
    border-bottom: 1px dotted #F39200;
}

.post-item h3 a:hover {
    border-bottom: none;
}

.menu-icon-wrapper{
    display: none;
}

article.story{
    border-bottom: 2px dashed #303b58;
    margin-bottom: 50px;
    padding-bottom:20px;
    font-size: 16px;
}
article.story:first-child{
    border-bottom: 2px dashed #303b58;
}

article.story:last-child{
    border-bottom: none;
}

article.story .meta{
    display:flex;
    align-items: center;
    /* background-color: #3bb18c; */
    padding: 10px;
}

article.story .meta img{
    border: 2px solid #303b58;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

article.story .meta .author{
    margin-left: 10px;
}
article.story > p:first-child::first-letter{
    color:#3bb18c;
    font-size: 30px;
    font-weight: bold;

    /* font-style: italic; */
}

article.story .meta .author p{
    font-style: italic;
    margin-bottom: 0px;
}
article.story .meta .author p:first-child{
    font-style:normal;
    font-weight: bold;
    color:#3bb18c;
}

section.copy{
    margin-bottom: 50px;
    padding-bottom:40px;
    /* border-bottom: 2px solid #3bb18c; */
}
.testimonial blockquote{
    border-left: none;
    text-align: left;
    background-color: #fff;
    color:#303b58;
    font-size: 1rem;
    font-weight: bold;
  margin-bottom:1em;

}
.content figure blockquote{
    border-left: none;
    text-align: left;
    background-color: #303b58;
    color:#fff;
    font-size: 1rem;
    font-weight: bold;
  
   /* font-family:  BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif */

}
.content .testimonials.is-secondary figure blockquote{
    background-color: #3bb18c;
}

.testimonial .author{
  height: auto;
  padding: 0 10px;
}

.testimonial .author h5, .testimonial .author span {
    left: auto;
    position: relative;
    color: #444F60;
    padding:0;
}

.section-feeling{
  display:block;
  padding:50px 24px;
}

.section-feeling h5{
  font-size:20px;
  font-weight:bold;
}

.section-wonder{
  background-color:#303b58;
  display:block;
  color:#fff;
  padding:50px 24px;
}
.section-wonder strong{
  color:#fff;
}

.section-wonder .answer{
   color: #3bb18c;

}

.section-wonder h5{
  font-size:20px;
  font-weight:bold;
}

section.section-imagine{
  display:block;
  color:#fff;
  background: linear-gradient(0deg, rgb(4 4 4 / 30%), rgb(0 0 0 / 80%)), url(../images/karen/k3.jpg) center center / cover no-repeat;
  /* background-size:cover; */
}


section.section-imagine .container{
  overflow:hidden;
  /* background: linear-gradient(0deg, rgb(4 4 4 / 30%), rgb(0 0 0 / 80%)), url(../images/karen/k3.jpg) top left / cover no-repeat; */
  min-height:500px;
}
section.section-imagine div.copy{
  padding-top:40px;
  float:right;
  width:40%;
}

section.section-imagine div.copy p{
  margin-bottom:20px;
  font-size:16px;
}

section.section-imagine h5{
  font-size:20px;
  font-weight:bold;
}

/* Home page testimonial */
/* ============================ */

.testimonial .author span{
    line-height: 16px;
    font-size: 13px;
    display: inline-block;
}

.testimonial .author h5{
    line-height: 1rem;
    margin-bottom: 5px;
}
.testimonial blockquote{
    font-size: 1rem;
}
.testimonial img{
    position: relative;
    right:0;
    margin-bottom: 5px;
}

.none{
    display: none;
}


.footer-contact, .footer-contact a{
    color:#98a9c3;

}
.footer-contact a{
    text-decoration: underline;
}
.footer-contact a:hover{
    color:#fff;

}
.footer-contact .fa{
    color:#3bb18c;

}
.footer-contact a.button{
    text-decoration: none;

}
