@font-face {
    font-family: 'tenor';
    src: url('../fonts/tenorsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/tenorsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'figtree';
    src: url('../fonts/figtree-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/figtree-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.navbar.is-fresh .navbar-brand img{
    max-height: none !important;
    height: auto;
}

.navbar-start{
    display: none;
}

.hero-body .title, .hero-body .subtitle {
    font-family: tenor;
}
.title-wrapper .title, .title-wrapper .subtitle{
    font-family: tenor;
}

footer.footer-dark .footer-column .footer-header h3{
    font-family: tenor;
}
.section .title, .section .subtitle{
    font-family: tenor;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6{
    font-family: tenor;
}

.post-item{
    display: flex;
    justify-content: space-between;
}
.post-item h3 a {
    font-size: 1.2rem;
    font-weight: 600;
    color: #444F60;
    border-bottom: 1px dotted #F39200;
}

.post-item h3 a:hover {
    border-bottom: none;
}

.menu-icon-wrapper{
    display: none;
}

article.story{
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: 50px;
    padding-bottom:20px;
}

article.story:last-child{
    border-bottom: none;
}

article.story .meta{
    display:flex;
    align-items: center;
}

article.story .meta img{
    border: 2px solid #999;
}

article.story .meta .author{
    margin-left: 10px;
}

article.story .meta .author p{
    font-style: italic;
    margin-bottom: 0px;
}
article.story .meta .author p:first-child{
    font-style:normal;
    font-weight: bold;
    color:#3bb18c;
}

section.copy{
    margin-bottom: 50px;
    padding-bottom:40px;
    /* border-bottom: 2px solid #3bb18c; */
}

.content figure blockquote{
    border-left: none;
    text-align: left;
    background-color: #3bb18c;
    color:#fff;
    font-size: 1rem;
}

.testimonial .author{
height: auto;
padding: 0 10px;
}

.testimonial .author h5, .testimonial .author span {
    left: auto;
    position: relative;
    color: #444F60;
    padding:0;
}

/* Home page testimonial */
/* ============================ */

.testimonial .author span{
    line-height: 12px;
    font-size: 12px;
}

.testimonial .author h5{
    line-height: 1rem;
}
.testimonial blockquote{
    font-size: 1rem;
}
.testimonial img{
    position: relative;
    right:0;
    margin-bottom: 5px;
}

.none{
    display: none;
}