
{{ define "main" }}

{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}


<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title najam">{{ .Title }}</h1>
        <div class="divider"></div>
      </div>
    </div>

    <div class="content">
        {{ range .Pages.ByPublishDate.Reverse }}
        <div class="post-item">
            <h3><a class="title" href="{{ .RelPermalink }}"  {{if .Draft}}class="draft"{{end}}>{{ .Title }}</a></h3>
              {{if not .Date.IsZero}}
              <time class="pull-right hidden-tablet">{{ .Date.Format (.Site.Params.dateformat | default "Jan 02 '06") }}</time>
              {{end}}
            <!-- <p>{{ .Summary }}</p> -->
        </div>
        

        {{ end }}

    </div>
  </div>
</section>

    {{ partial "footer.html" . }}
{{ end }}
