{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $quickLinks  := index $footer "quicklinks" }}
{{- $socialMedia := index $footer "socialmedia" }}
{{- $bulmaLogo   := index $footer "bulmalogo" }}
{{- $socialMediaTitle    := index $footer "socialmediatitle" }}
<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <div class="footer-logo">
          <img src="{{ printf "/images/logos/%s" $logo | relURL }}">
        </div>
      </div>
      {{- range $quickLinks }}
        <div class="column">
          <div class="footer-column">
            <div class="footer-header">
                <h3>{{ .title }}</h3>
            </div>
            <ul class="link-list">
              {{- range .links }}
              <li>
                <a href="{{ .link }}">
                  {{ .text }}
                </a>
              </li>
              {{- end }}
            </ul>
          </div>
        </div>
      {{- end }}
      <div class="column is-4">
        <div class="footer-column">
          <div class="footer-header">
            <h3>{{ $socialMediaTitle }}</h3>
            <nav class="level is-mobile">
              <div class="level-left">
                {{- range $socialMedia }}
                <a class="level-item" href="{{ .link }}">
                  <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
                </a>
                {{- end }}
              </div>
            </nav>

            <section class="mt-5 footer-contact" id="footer-contact">
              <p class="">
                <span class="icon"><i class="fa fa-envelope"></i></span>:
                <a href="mailto:coaching@karinholley.com" target="_blank">coaching@karinholley.com</a></p>
              <p class="">
                <span class="icon"><i class="fa fa-phone"></i></span>
                : +31 6 1208 7075</p>
              <p class="">
                <span class="icon"><i class="fa fa-calendar"></i></span>:
                <a href="https://appointmentcalendarkarinholley.as.me/?appointmentType=category:Coaching" target="_blank" class="">Book an appointment or a class</a>
              </p>

            </section>

            <!-- {{- if $bulmaLogo }}
            <a href="https://bulma.io" target="_blank">
              <img src="{{ "/images/logos/made-with-bulma.png" | relURL }}" alt="Made with Bulma" width="128" height="24">
            </a>
            {{- end }} -->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
