    <div class="columns">
        
        <div class="column is-4 feature-card is-pricing has-text-centered">
            <div class="info">
                <img src="/images/karin/home/one_leaf.png" class="" alt/>
                <h4>Grow Masterclass</h4>
                <p>Learn about optimal conditions for personal growth.</p>
                <p>Find out how you self-sabotage.</p>
                <p>Discover 3 mental muscles that help you handle life’s challenges with a more positive mindset.</p>
                
            </div>
            <a href="https://appointmentcalendarkarinholley.as.me/?appointmentType=44191676" target="_blank" class="button is-fullwidth primary-btn raised is-bold">Sign up</a>
        </div>
        
        <div class="column is-4 feature-card is-pricing has-text-centered">
            <div class="info">
                <img src="/images/karin/home/two_leaves.png" class="" alt/>
                <h4>Grow Discovery Call</h4>
                <p>Discover which saboteurs might be interfering with your goals.</p>
                <p class="">Explore what your personal and professional vision looks like. </p>
                <p> Decide on which first step you'll take TODAY to get there. </p>
            </div>
            <a href="https://appointmentcalendarkarinholley.as.me/?appointmentType=32552403" class="button is-fullwidth primary-btn raised is-bold">Let's talk</a>
        </div>
        
        <div class="column is-4 feature-card is-pricing has-text-centered">
            <div class="info">
                <img src="/images/karin/home/team_of_leaves.png" class="" alt/>
                <h4>Grow Your Team</h4>
                <p>Train your team in coaching skills to improve their ability to empower themselves and others to grow.</p>
                <p>Build trust and a positive, collaborative working culture.</p>
                <p>Improve the well-being, performance and relationships of your staff.</p>
            </div>
            <a href="https://appointmentcalendarkarinholley.as.me/?appointmentType=41163147" class="button is-fullwidth primary-btn raised is-bold">Book a conversation</a>
        </div>
        
    </div>
