{{ define "main" }}
    {{ if .Site.Params.hero }}
    {{ partial "hero.html" . }}
    {{ end }}

    <!-- {{ if .Site.Params.section1 }}
    {{ partial "section1.html" . }}
    {{ end }} -->

    <!-- {{ if .Site.Params.section2 }}
    {{ partial "section2.html" . }}
    {{ end }} -->

    <!-- {{ if .Site.Params.section3 }}
    {{ partial "section3.html" . }}
    {{ end }} -->

    <!-- {{ if .Site.Params.section4 }}
    {{ partial "section4.html" . }}
    {{ end }} -->



    <!-- {{ if .Site.Params.section5 }}
    {{ partial "section5.html" . }}
    {{ end }} -->

<section class="section-8 section-feeling">
  <div class="container">
    <div class="copy copy-feeling">
      <h5 class="is-5 mb-5">You feel like</h5>
      <p><strong>Work is all-consuming</strong> and negatively impacting your performance, wellbeing and relationships.</p>
      <p>You have <strong>reached the limits of what you can do by yourself</strong>, but you want to grow more.</p>
      <p>You've lost your footing because you're <strong>going through a life or career transition.</strong></p>
    </div>
  </div>
</section>

<section class="section-9 section-wonder">
  <div class="container">
    <div class="copy copy-imagine">
      <h5 class="is-5 mb-5">You wonder</h5>
      <p>How can I do this work that I love, but also <strong>have a better work-life blend?</strong></p>
      <p>How can I choose what to focus on, since <strong>everything feels important?</strong></p>
      <p>How can I <strong>feel more grounded in who I am as a leader</strong> to increase my impact?</p>
      <p class="answer mt-3">I know what it’s like not to know where or how to start making changes.</p>
      <p class="answer">You worry about what will happen if you continue this way.</p>
    </div>
  </div>
</section>

<section class="section-10 section-imagine p-5">
  <div class="container">
    <div class="copy copy-imagine">
      <h5 class="is-5 mb-5">Imagine if</h5>
      <p>You could <strong>increase your impact</strong> to stimulate growth for all staff and students.</p>
      <p>You could <strong>feel calmer</strong> when challenges come your way.</p>
      <p>You could work hard, and <strong>be more present</strong> at home.</p>
    </div>
  </div>
</section>

<section class="section is-medium section-secondary" id="section4">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced"></h2>
    </div>

    <div class="content-wrapper">
      <div class="columns is-vcentered">
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              Karin has a unique understanding and perspective on the many nuanced challenges that come along with being an international educator. In a short time I have noticed increased confidence, more resilience, better productivity, and identifying the internal negative voices that hold me back, amplifying positive self-confidence that pushes me forward. 
            </blockquote>
            <div class="author">
              <h5>Sarah Pearl</h5>
              <span>Assistant Director - International Student Transitions - Council of International Schools</span>
            </div>
          </figure>
        </div>
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              As a new leader, the coaching sessions and the PQ pods have helped me to see that many of my questions and challenges are shared by others, and, as a result, I'm able to give myself a bit more grace. Now I feel more empowered to take on the challenges of a new role.
            </blockquote>
            <div class="author">
              <h5>Marie Favret</h5>
              <span>Secondary School Principal at The International School of Azerbaijan</span>
            </div>
          </figure>
        </div>
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              Karin's coaching presence and the safe atmosphere that she creates are a perfect combo to reflect, mirror and grow. The combination of those factors and her Positive Intelligence techniques have really helped me to get out of “the feeling stuck” sensation and realize other ways of acting, thinking and overcoming personal and professional issues.
            </blockquote>
            <div class="author">
              <h5>Julia Vilodomiu</h5>
              <span>Educator/Coach</span>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section is-medium" id="section2">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">Grow Coaching Options</h1>
        <!-- <h3 class="subtitle is-5 is-muted">And we know it</h3> -->
        <div class="divider"></div>
      </div>
      <div class="column is-7 mt-60">
        <article class="media icon-box mb-60">
          <figure class="media-left">
            <p class="image">
              <img src="/images/karin/home/one_leaf.png" class="" alt="">
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title">Online Master Class</span>
                <span class="icon-box-text">Learn about optimal conditions for personal growth, how we self-sabotage, and 3 mental muscles that help us grow.</span>
              </p>
              <p><a class="button cta rounded secondary-btn raised" href="https://app.squarespacescheduling.com/schedule/9c387e5a?showHeader=true" target="_blank">Book for free</a></p>
            </div>
          </div>
        </article>

        <article class="media icon-box mb-60">
          <figure class="media-left">
            <p class="image">
              <img src="/images/karin/home/two_leaves.png" class="" alt="">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title">Grow Chemistry Call</span>
                <span class="icon-box-text">Explore what your vision looks like and decide on which first step you'll take TODAY to get there.</span>
              </p>
              <p><a class="button cta rounded secondary-btn raised" href="https://app.squarespacescheduling.com/schedule/9c387e5a?showHeader=true" target="_blank">Sounds great</a></p>
            </div>
          </div>
        </article>

        <article class="media icon-box">
          <figure class="media-left">
            <p class="image">
              <img src="/images/karin/home/team_of_leaves.png" class="" alt="">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title">PD Team Options</span>
                <span class="icon-box-text">Develop fundamental coaching skills</span>
                <span class="icon-box-text">Improve performance, well being and team culture.</span>
              </p>
              <p><a class="button cta rounded secondary-btn raised" href="https://app.squarespacescheduling.com/schedule/9c387e5a?showHeader=true" target="_blank">Let's talk</a></p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>



    {{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#" title="najam"></a></div>

    <!-- {{ if .Site.Params.sidebar }}
    {{ partial "sidebar.html" . }}
    {{ end }} -->
    
{{ end }}
