{{ define "main" }}
    {{ if .Site.Params.hero }}
    {{ partial "hero.html" . }}
    {{ end }}

    <!-- {{ if .Site.Params.section1 }}
    {{ partial "section1.html" . }}
    {{ end }} -->

    <!-- {{ if .Site.Params.section2 }}
    {{ partial "section2.html" . }}
    {{ end }} -->

    <!-- {{ if .Site.Params.section3 }}
    {{ partial "section3.html" . }}
    {{ end }} -->

    <!-- {{ if .Site.Params.section4 }}
    {{ partial "section4.html" . }}
    {{ end }} -->



    <!-- {{ if .Site.Params.section5 }}
    {{ partial "section5.html" . }}
    {{ end }} -->

<section class="section-8 section-feeling">
  <div class="container">
    <div class="copy copy-feeling">
      <h5 class="is-5 mb-5">Do you feel like</h5>
      <p><strong>Work is all-consuming</strong> and negatively impacting your performance, wellbeing and relationships?</p>
      <p>You have <strong>reached the limits of what you can do by yourself</strong>, but you want to grow more?</p>
      <p>You've lost your footing because you're <strong>going through a life or career transition?</strong></p>
    </div>
  </div>
</section>

<section class="section-9 section-wonder">
  <div class="container">
    <div class="copy copy-imagine">
      <h5 class="is-5 mb-5">You wonder</h5>
      <p>How can you do this work that you love, but also <strong>have a better work-life blend?</strong></p>
      <p>How can you choose what to focus on, since <strong>everything feels important?</strong></p>
      <p>How can you <strong>feel more grounded in who you are as a leader</strong> to increase your impact?</p>
      <!--
      <p class="answer mt-3">You worry about what will happen if you don't change your current situation.</p>
      <p class="answer">I know what it's like not to know where or how to start making changes.</p>
      -->
    </div>
  </div>
</section>

<section class="section-10 section-imagine p-5">
  <div class="container">
    <div class="copy copy-imagine">
      <h5 class="is-5 mb-5">Imagine if</h5>
      <p>You could <strong>increase your impact and performance</strong>.</p>
      <p>You could <strong>feel calmer</strong> when challenges come your way.</p>
      <p>You could work hard, and <strong>be more present</strong> at home.</p>
      <a class="button cta rounded primary-btn raised" href="/about">
        How I can help
      </a>
    </div>
  </div>
</section>

<section class="section is-small section-secondary" id="section4">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced"></h2>
    </div>

    <div class="content-wrapper">
      <div class="columns is-vcentered">
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              Karin has a unique understanding and perspective on the many nuanced challenges that come along with being an international educator. In a short time I have noticed increased confidence, more resilience, better productivity, and identifying the internal negative voices that hold me back, amplifying positive self-confidence that pushes me forward. 
            </blockquote>
            <div class="author">
              <h5>Sarah Pearl</h5>
              <span>Assistant Director - International Student Transitions - Council of International Schools</span>
            </div>
          </figure>
        </div>
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              As a new leader, the coaching sessions and the PQ pods have helped me to see that many of my questions and challenges are shared by others, and, as a result, I'm able to give myself a bit more grace. Now I feel more empowered to take on the challenges of a new role.
            </blockquote>
            <div class="author">
              <h5>Marie Favret</h5>
              <span>Secondary School Principal at The International School of Azerbaijan</span>
            </div>
          </figure>
        </div>
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              Karin's coaching presence and the safe atmosphere that she creates are a perfect combo to reflect, mirror and grow. The combination of those factors and her Positive Intelligence techniques have really helped me to get out of “the feeling stuck” sensation and realize other ways of acting, thinking and overcoming personal and professional issues.
            </blockquote>
            <div class="author">
              <h5>Julia Vilodomiu</h5>
              <span>Educator/Coach</span>
            </div>
          </figure>
        </div>
      </div>
      <div class="title-wrapper has-text-centered">
        <a class="button cta rounded secondary-btn raised" href="/success_stories">
          More success stories
        </a>
      </div>
    </div>
  </div>
</section>

<!--
<section class="about checked-list mb-6">
    <h5>Coaching is Right for You if You Are:</h5>
      A high-achieving, experienced educator.<br>

      Going through a stressful career or life transition.<br>

      Committed to growth, but have reached the limits of what you can do by yourself.<br>

      Feeling stuck in certain areas, “busy”, reactive, stressed, or lacking joy and inspiration.<br>

      Struggling to focus on the bigger picture, your purpose, the school's vision.<br>

      Giving your best self to work, but lacking presence at home.<br>

      Missing someone with whom you can process your own thinking - it can be lonely being a leader.
</section>
-->

<!-- 
<section class="section is-medium" id="section2">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">Grow Coaching Options</h1>
         <div class="divider"></div>
      </div>
      <div class="column is-7 mt-60">
        <article class="media icon-box mb-60">
          <figure class="media-left">
            <p class="image">
              <img src="/images/karin/home/one_leaf.png" class="" alt="">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title">Grow Masterclass</span>
                <span class="icon-box-text">Learn about optimal conditions for personal growth, how we self-sabotage, and 3 mental muscles that help us grow.</span>
              </p>
              <p><a class="button cta rounded secondary-btn raised" href="https://appointmentcalendarkarinholley.as.me/?appointmentType=44191676" target="_blank">Book for free</a></p>
            </div>
          </div>
        </article>

        <article class="media icon-box mb-60">
          <figure class="media-left">
            <p class="image">
              <img src="/images/karin/home/two_leaves.png" class="" alt="">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title">Grow Discovery Call</span>
                <span class="icon-box-text">Explore what your vision looks like and decide on which first step you'll take TODAY to get there.</span>
              </p>
              <p><a class="button cta rounded secondary-btn raised" href="https://appointmentcalendarkarinholley.as.me/?appointmentType=32552403" target="_blank">Sounds great</a></p>
            </div>
          </div>
        </article>

        <article class="media icon-box">
          <figure class="media-left">
            <p class="image">
              <img src="/images/karin/home/team_of_leaves.png" class="" alt="">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title">Grow Your Team</span>
                <span class="icon-box-text">Develop fundamental coaching skills.</span>
                <span class="icon-box-text">Improve performance, well being and team culture.</span>
              </p>
              <p><a class="button cta rounded secondary-btn raised" href="https://appointmentcalendarkarinholley.as.me/?appointmentType=41163147" target="_blank">Let's talk</a></p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
-->


    {{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#" title="najam"></a></div>

    <!-- {{ if .Site.Params.sidebar }}
    {{ partial "sidebar.html" . }}
    {{ end }} -->
    
{{ end }}
